<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}报修订单
			<!--<notempty name="pid">-->
				<!--[&nbsp;父导航：<a href="{:U('index','pid='.$pid)}">{$parent.title}</a>&nbsp;]-->
			<!--</notempty>-->
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<input type="hidden" name="pid" value="{$pid}">
		<div class="form-item">
			<label class="item-label">报修人<span class="check-tips">（报修人名字）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">障碍描述<span class="check-tips">（尽可能详细描述）</span></label>
			<div class="controls">
				<textarea type="" class="input-large" name="intro" >{$info.intro|default=''}</textarea>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">电话<span class="check-tips">（请填写11位真实号码）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="tel" value="{$info.tel|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">房间门牌号<span class="check-tips">（请填写详细门牌号）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="room_number" value="{$info.room_number|default=''}">
			</div>
		</div>
		<!--<div class="form-item">-->
			<!--<label class="item-label">订单状态<span class="check-tips">（修改订单状态）</span></label>-->
			<!--<div class="controls">-->
				<!--<select name="status">-->
					<!--<option value="0" <eq name="info.status" value="0" >selected</eq>>已报修</option>-->
					<!--<option value="1" <eq name="info.status" value="1" >selected</eq>>正在处理</option>-->
					<!--<option value="0" <eq name="info.status" value="2" >selected</eq>>已修理</option>-->
					<!--<option value="1" <eq name="info.status" value="3" >selected</eq>>已取消</option>-->
				<!--</select>-->
			<!--</div>-->
		<!--</div>-->
		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
